# fly.toml app configuration file generated for despesas-bot on 2024-01-13T16:16:13+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "despesas-bot"
primary_region = "cdg"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "off"
  auto_start_machines = false
  min_machines_running = 1
  max_machines_running = 1
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
